.css-882cgy{
    width: 15rem !important;
    border-radius: 25px !important;
}

.slick-arrow .slick-prev{
    color: grey !important;
}

.slick-prev:before {
    font-size: 26px;
    line-height: 1;
    opacity: .75;
    color: #000;
}
.slick-next:before{
    font-size: 26px;
    line-height: 1;
    opacity: .75;
    color: #000;
}

.slick-slider.slick-initialized {
    margin-top: 30px;
    padding: 17px;
}

button.slick-arrow.slick-next {
    margin-right: 20px !important;
}

.review_rating{
    display: flex;
    align-items: center;
}

.review_rating p {
    background-color: #05333F;
    padding: 2px 4px;
    border-radius: 6px;
    font-size: 13px;
    margin-right: 6px;
    color: #fff;
}

.hotel_name{
    font-size: 20px;
    margin: 10px 0;
    font-weight: 600;
}

@media (max-width: 767px) {
    .css-1fuw7kn {
        display: block !important;
    }
    .css-1qqmoww {
        display: block !important;
        text-align: center;
    }
}